.header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;

    font-style: italic;
}
body{
    background-color: bisque;
    background-image: url(./IMGHome/moroccan-flower.png);
}
.container{
    text-align: center;
}
.ulHOME{
    display: inline-block;
    text-align: left;
    padding: 5px 17px;
    background-color: bisque;
}
.UL{
    text-align: center;
}
.introOats{
    text-align: center;
    font-style: italic;
    background-color: beige;
}
.oatsIMG{
    display: grid;
    place-items: center;
}
.hyper{
    text-align: center;
}
.ingreUL{
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
}
.Eminem img{
    float: right;
    margin-left: 2px ;
}
.spaghettIntro{
    clear: boths;
}
a:hover {
    color: rgb(64, 135, 194);
}